ejbrace/ejbrace-web/src/main/webapp/WEB-INF/wsdl/AccountServiceJaxWsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://servlet.ejbrace.ferris.org/" name="AccountServiceJaxWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://servlet.ejbrace.ferris.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://servlet.ejbrace.ferris.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getAccount" type="tns:getAccount"/>

      <xs:element name="getAccountResponse" type="tns:getAccountResponse"/>

      <xs:complexType name="getAccount">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getAccountResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="account">
        <xs:sequence>
          <xs:element name="addresses" type="tns:address" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="phones">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="tns:phone"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="address">
        <xs:sequence>
          <xs:element name="address1" type="xs:string" minOccurs="0"/>
          <xs:element name="address2" type="xs:string" minOccurs="0"/>
          <xs:element name="city" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="state" type="xs:string" minOccurs="0"/>
          <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="phone">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="number" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="tns:phoneType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="phoneType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Home"/>
          <xs:enumeration value="Work"/>
          <xs:enumeration value="Mobile"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="getAccount">
    <part name="parameters" element="tns:getAccount"/>
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="tns:getAccountResponse"/>
  </message>
  <portType name="AccountServiceJaxWs">
    <operation name="getAccount">
      <input wsam:Action="http://servlet.ejbrace.ferris.org/AccountServiceJaxWs/getAccountRequest" message="tns:getAccount"/>
      <output wsam:Action="http://servlet.ejbrace.ferris.org/AccountServiceJaxWs/getAccountResponse" message="tns:getAccountResponse"/>
    </operation>
  </portType>
  <binding name="AccountServiceJaxWsPortBinding" type="tns:AccountServiceJaxWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AccountServiceJaxWsService">
    <port name="AccountServiceJaxWsPort" binding="tns:AccountServiceJaxWsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

